<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>sign in</h1>
<form action="/signin" name="form" id="form" method="post">
<label for="name">username</label>
<input type="text" name="username" id="name">
<label for="password">Password</label>
<input type="text" name="password" id="password">
<input type="submit" value="Submit Form">
<a href="/signup">Make an account</a>

</form>
</body>
</html>